<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{template :: head}"></head>
<body>
<nav th:replace="~{template :: navbar}"></nav>

<main class="container">
    <div th:replace="~{template :: alert}"></div>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Admin Panel</li>
        </ol>
    </nav>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
        <li class="list-group-item">A fourth item</li>
        <li class="list-group-item">And a fifth one</li>
    </ul>

</main>

<footer th:replace="~{template :: footer}"></footer>
</body>
</html>
