<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{template :: head}"></head>
<body>
<nav th:replace="~{template :: navbar}"></nav>

<main class="container">
    <div th:replace="~{template :: alert}"></div>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Admin Panel</li>
        </ol>
    </nav>

    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="/admin/users">List of users</a></li>
        <li class="list-group-item"><a href="/admin/roots">List of root folders</a></li>
    </ul>

</main>

<footer th:replace="~{template :: footer}"></footer>
</body>
</html>
