<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{template :: head}"></head>
<body>
<nav th:replace="~{template :: navbar}"></nav>

<main class="container">
    <div th:replace="~{template :: alert}"></div>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{'~/user/profile'}">Profile</a></li>
            <li class="breadcrumb-item active">Change email</li>
        </ol>
    </nav>

    <form action="#" th:action="@{/user/profile/email}" method="post">
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" maxlength="256" required th:value="${email}">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Current password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <a class="btn btn-outline-primary" th:href="@{/user/profile}">Cancel</a>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</main>

<footer th:replace="~{template :: footer}"></footer>
</body>
</html>
