<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{template :: head}"></head>
<body class="bg-light-subtle my-5">
<main class="container p-0">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <form class="m-0 px-4 py-3 border border-1 border-secondary-subtle bg-light" th:action="@{/users/login}" method="post">
                <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

                <div class="alert alert-danger" role="alert" th:if="${param.error}">Invalid username and password.</div>
                <div class="alert alert-success" role="alert" th:if="${param.logout}">You have been logged out.</div>

                <div class="mx-0 mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com"/>
                </div>
                <div class="mx-0 my-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password"/>
                </div>
                <div class="mx-0 my-3">
                    <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
                </div>
            </form>
        </div>
        <div class="col"></div>
    </div>
</main>
</body>
</html>
