<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <script src="/js/bootstrap.bundle.js"></script>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <title th:text="${page} + ' | ' + ${app.name}">Title</title>
</head>
<body>
<nav class="navbar bg-white shadow mb-5" th:fragment="navbar">
    <div class="container bg-white">
        <div><a href="/"><img alt="Application logotype" src="/images/globe.svg" title="Web Shared Folder"
                              width="24"></a></div>
        <ul class="nav nav-underline">
            <li class="nav-item"><a class="nav-link text-dark" href="/dashboard"
                                    th:class="${page == 'Dashboard'} ? 'nav-link text-dark active' : 'nav-link text-dark'">Dashboard</a>
            </li>
            <li class="nav-item"><a class="nav-link text-dark" href="/bookmarks"
                                    th:class="${page == 'Bookmarks'} ? 'nav-link text-dark active' : 'nav-link text-dark'">Bookmarks</a>
            </li>
            <li class="nav-item"><a class="nav-link text-dark" href="/folders"
                                    th:class="${page == 'Folders'} ? 'nav-link text-dark active' : 'nav-link text-dark'">Folders</a>
            </li>
            <li class="nav-item"><a class="nav-link text-dark" href="/users"
                                    th:class="${page == 'Users'} ? 'nav-link text-dark active' : 'nav-link text-dark'">Users</a>
            </li>
            <li class="nav-item"><a class="nav-link text-dark" href="/groups"
                                    th:class="${page == 'Groups'} ? 'nav-link text-dark active' : 'nav-link text-dark'">Groups</a>
            </li>
            <li class="nav-item"><a class="nav-link text-dark" href="/search"
                                    th:class="${page == 'Search'} ? 'nav-link text-dark active' : 'nav-link text-dark'">Search</a>
            </li>
            <li class="nav-item"><a class="nav-link text-dark" href="/help"
                                    th:class="${page == 'Help'} ? 'nav-link text-dark active' : 'nav-link text-dark'">Help</a>
            </li>
        </ul>
        <div class="flex-shrink-0 dropdown">
            <a aria-expanded="false" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
               data-bs-toggle="dropdown" href="#">
                <img alt="mdo" class="rounded-circle" height="24" src="/images/person-circle.svg"
                     width="24">
            </a>
            <ul class="dropdown-menu dropdown-menu-end text-small shadow">
                <li class="m-3 p-0">
                    <strong>
                        <span th:remove="tag" th:text="${principal.firstName}"></span>
                        <span th:remove="tag" th:if="${principal.middleName}" th:text="' '+${principal.middleName}"></span>
                        <span th:remove="tag" th:text="' '+${principal.lastName}"></span>
                    </strong>
                    <br>
                    <span th:text="${email}">user@example.com</span>
                </li>
                <th:block th:if="${admin}">
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/admin">Admin Panel</a></li>
                </th:block>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/users/profile">Profile</a></li>
                <li><a class="dropdown-item" href="/users/settings">Settings</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#" th:href="@{/users/logout}">Sign out</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="my-3" th:fragment="alert">
    <div class="alert alert-info" role="alert" th:if="${alertInfo}" th:text="${alertInfo}">A simple info alert—check it out!</div>
    <div class="alert alert-success" role="alert" th:if="${alertSuccess}" th:text="${alertSuccess}">A simple success alert—check it out!</div>
    <div class="alert alert-warning" role="alert" th:if="${alertWarning}" th:text="${alertWarning}">A simple warning alert—check it out!</div>
    <div class="alert alert-danger" role="alert" th:if="${alertDanger}" th:text="${alertDanger}">A simple danger alert—check it out!</div>
</div>

<main class="container" th:fragment="stubmain">
    <div th:replace="~{template :: alert}"></div>
    <div class="text-center mb-5">PAGE UNDER DEVELOPMENT</div>
</main>

<footer class="py-3 my-4 border-top border-1 border-secondary-subtle" th:fragment="footer">
    <div class="container d-flex flex-wrap justify-content-between align-items-center">
        <div class="col text-body-secondary small"
             th:text="${app.name} + ' ' + ${app.version} + ', ' + ${app.license}">
            Web Shared Folder
        </div>
        <div class="col text-end"><a href="#" th:href="${app.url}"><img
                alt="source" height="16" src="/images/github.svg" width="16"></a></div>
    </div>
</footer>
</body>
</html>
